* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "Kumbh Sans", sans-serif;
  flex-direction: column;
  background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
}

article {
  border-radius: 10px;
  height: 70vh;
  display: flex;
  width: 80%;
  background-color: white;
}

.hero {
  width: 50%;
  position: relative;
  background-image: url("images/illustration-woman-online-desktop.svg"),
    url("images/bg-pattern-desktop.svg");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: -80px, -80px;
  background-size: contain, contain;
}

.hero .desktop {
  position: absolute;
  bottom: 55px;
  left: -80px;
  width: auto;
}

p {
  font-size: 12px;
  color: hsl(240, 36%, 35%);
}

.mobile {
  display: none;
}

.content {
  padding: 50px 0;
  width: 50%;
  margin-right: 70px;
  height: 100%;
}

.content h1 {
  padding-bottom: 2rem;
  color: hsl(237, 12%, 33%);
}

.question {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 01rem 0;
}

.question.active {
  font-weight: 700;
  transition: 4s ease-in-out;
}

.question p:hover {
  color: red;
}

.entry {
  border-bottom: 1px solid hsl(240, 5%, 91%);
}

.answer {
  padding-bottom: 1rem;
  display: none;
}

.answer.active {
  display: flex;
}

@media only screen and (max-width: 375px) {
  body {
    margin-top: 2rem;
    flex-direction: column;
    height: auto;
  }

  article {
    flex-direction: column;
  }

  .content {
    width: 100%;
    padding: 2.5rem 1rem;
    margin: 0;
  }

  .hero {
    width: 100%;
    position: relative;
    background-image: url("images/bg-pattern-desktop.svg");
    background-position-x: -179px;
    background-position-y: -118px;
    background-size: 112%;
    background-repeat: no-repeat;
  }

  .hero img {
    position: fixed;
  }

  .content h1 {
    padding-top: 4rem;
    text-align: center;
    padding-bottom: 1rem;
  }

  .hero .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  .hero .mobile .im {
    width: 200px;
    position: absolute;
    top: -90px;
    left: 55px;
  }

  .hero .mobile .back {
    width: 200px;
    position: absolute;
    top: -5px;
    left: 50px;
  }
}
